*{
    padding: 0px;
    margin: 0px;
}

.header{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background-color: black;
    color: white;
}

.addButton{
    text-align: center;
    padding: 12px;
    background-color: rgb(36, 199, 36);
    color: white;
    border: none;
    width: 80px;
}